<!DOCTYPE html>
<html ng-app="login">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login</title>

    <script src="dist/login-bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">

        <div id="logo">
          <img src="img/logo.png" />
        </div>
          
        <form ng-controller="LoginController as login" class="form-horizontal">
          <div class="form-group">
            <h2><center>Login</center></h2>
          </div>

          <div class="form-group" ng-class="{'has-error': !login.valid}">
            <label for="inputUsername" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input id="inputUsername" ng-model="login.username" class="form-control" required autofocus>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': !login.valid}">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input id="inputPassword" type="password" ng-model="login.password" class="form-control" required autofocus>
              <span ng-show="!login.valid" class="help-block">{{login.message}}</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div id="button-row">
                <button ng-click="login.login()" class="btn btn-lg btn-primary">Login</button>
                <p>
                  <a href="#">Forgot your password?</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
