.container{
    max-width: 450px;
    margin-top: 40px;
}

#logo{
    text-align: center;
    background-color: #002B49;
}

#logo > img{
    height: 80px;
}

.container form{
    padding: 0 20px;
}

#button-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#button-row > p{
    margin: auto 0;
}