<template>
  <div id="app">
    <ul>
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="/foo">Foo</router-link></li>
      <li><router-link to="/bar">Bar</router-link></li>
    </ul>
    <router-view class="view"></router-view>
  </div>



  <!--
  <form @submit.prevent="login" :class="{ error: failed }">
    <input v-model="email" type="email" placeholder="Email Address" autofocus required>
    <input v-model="password" type="password" placeholder="Password" required>
    <b-button variant="primary" size="" type="submit">Log In</b-button>
    <b-alert state="success" show>
      Success Alert
    </b-alert>
  </form>
  -->
</template>

<script>
import axios from 'axios';

export default {
  data () {
    return {
      email: 'test@tester.com',
      password: 'test',
      failed: false
    }
  },
  methods: {
    login () {
      this.failed = false
      console.log('Trying to login');
      axios.get('http://localhost:8081/api/users/5')
        .then(response => {
          // JSON responses are automatically parsed.
          this.posts = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        })

    }
  }
}
</script>

<style>


</style>
