<div class="container">
	<div >
		<!--<div id="Main">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					{{$ctrl.crashDetails.name}} <br>
					<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{$ctrl.crashDetails.name}} - {{$ctrl.crashDetails.type}}
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">develop version</a></li>
						<li><a href="#">release version</a></li>
					</ul></div>
				</div>
				<div class="col-lg-4 col-sm-0"></div>
				<div class="col-lg-4 col-sm-6 text-right">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-phone"></span><br>Device lookup</button>
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span><br>Setting</button>
				</div>
			</div>
		</div>-->
		<ol class="breadcrumb">
			<li>{{$ctrl.crashDetails.PACKAGE_NAME}} - {{$ctrl.crashDetails.BUILD_CONFIG.BUILD_TYPE}}</li>
			<!--<li><a data-ng-click="$ctrl.goBackApp()" href="">{{$ctrl.crashDetails.PACKAGE_NAME}} - {{$ctrl.crashDetails.BUILD_CONFIG.BUILD_TYPE}}</a></li>
			<li><a data-ng-click="$ctrl.goBackIssue()" href="">{{$ctrl.crashDetails.SOURCE}} - {{$ctrl.crashDetails.EXCEPTION}}</a></li>-->
			<li><a data-ng-click="$ctrl.goBackIssue()" href="">{{$ctrl.crashDetails.SOURCE}} - {{$ctrl.crashDetails.EXCEPTION}}</a></li>
			<li class="active">{{$ctrl.crashDetails._id}}</li>
		</ol>
		<div id="Detail" style="padding: 15px;">
			<!--<div style="margin-bottom: 15px; border-bottom: 1px solid rgba(8, 8, 8, 0.45);">
				<span>Group: <a href="#">{{$ctrl.crashDetails.group}}</a></span>
				<span>App: <a href="#">{{$ctrl.crashDetails.name}} - {{$ctrl.crashDetails.type}}</a></span>
				<span>Issue: <a href="#">{{$ctrl.crashDetails.issue}}</a></span>
			</div>-->
			<div class="row" style="background-color: #FFF;    margin-left: 0;    margin-right: 0;    margin-bottom: 15px;" >
				<div class="col-xs-2 col-lg-2 text-center" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="color: #AAE; font-size: 10px">APP VERSION</div>
					<h5><b>{{$ctrl.crashDetails.BUILD_CONFIG.VERSION_NAME}}</b></h5>
				</div>
				<div class="col-xs-8 col-lg-8 text-left" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="font-size: 10px; color: #11248E">{{$ctrl.crashDetails.SOURCE}}<br></div>
					{{$ctrl.crashDetails.EXCEPTION}}
				</div>
				<!--<div class="col-xs-2 col-lg-2 text-center" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="color: #AAE; font-size: 10px; margin:3px;">STATUS</div>
					<kbd>{{$ctrl.crashDetails.status}}</kbd>
				</div>-->
			</div>
			<div class="row" style="margin: 0px 0px">
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.CUSTOM_DATA.mac}}<br>
						<div style="color:#777;">MAC</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.USER_CRASH_DATE | date : "yyyy/MM/dd HH:mm:ss"}}<br>
						<div style="color:#777;">Crash Date</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.BUILD_CONFIG.VERSION_NAME}}<br>
						<div style="color:#777;">App Version</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.ANDROID_VERSION}}<br>
						<div style="color:#777;">OS Version</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.CUSTOM_DATA.cpu | number : 1}}%<br>
						<div style="color:#777;">CPU Usage</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.uptime}}<br>
						<div style="color:#777;">Up Time</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.CUSTOM_DATA.free_ram / 1073741824 | number: 2}} GB<br>
						<div style="color:#777;">Free RAM</div>
					</div>
				</div>
				<div class="panel panel-default col-lg-3 col-sm-6">
					<div class="panel-body text-center">
						{{$ctrl.crashDetails.CUSTOM_DATA.total_ram / 1073741824 | number: 2}} GB<br>
						<div style="color:#777;">Total RAM</div>
					</div>
				</div>

			</div>

			<ul class="nav nav-tabs">
				<li data-ng-class="{active: $ctrl.logTab === 1}"><a data-ng-click="$ctrl.changeLogTab(1)" href="">Stack Trace (raw)</a></li>
				<!--<li data-ng-class="{active: $ctrl.logTab === 2}"><a data-ng-click="$ctrl.changeLogTab(2)" href="">Stack Trace (retraced)</a></li>-->
				<li data-ng-class="{active: $ctrl.logTab === 3}"><a data-ng-click="$ctrl.changeLogTab(3)" href="">Logcat</a></li>
				<li data-ng-class="{active: $ctrl.logTab === 4}"><a data-ng-click="$ctrl.changeLogTab(4)" href="">Meminfo</a></li>
			</ul>

			<div class="tab-content" style="padding: 10px 10px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: white;">
				<div id="crash" class="tab-pane fade" data-ng-class="{in: $ctrl.logTab === 1, active: $ctrl.logTab === 1}">
					<div id="errorLineRaw">
						<ol>
							<li data-ng-repeat="line in $ctrl.raw track by $index">
								<samp>{{line}}</samp>
							</li>
						</ol>
					</div>
				</div>

				<!--<div id="upload" class="tab-pane fade" data-ng-class="{in: $ctrl.logTab === 2, active: $ctrl.logTab === 2}">
					
				</div>-->

				<div id="logcat" class="tab-pane fade" data-ng-class="{in: $ctrl.logTab === 3, active: $ctrl.logTab === 3}">
					<table class="table" style="padding: 15px">
						<tr ng-repeat="crash in $ctrl.formatCrash" data-filter="{{crash.filter}}">
							<td><samp>{{crash.date}}</samp></td>
							<td><samp>{{crash.filter}}</samp></td>
							<td><samp>{{crash.source}}</samp></td>
							<td><samp>{{crash.processid}}</samp></td>
							<td><samp>{{crash.message}}</samp></td>
						</tr>
					</table>
				</div>

				<div id="mem" class="tab-pane fade" data-ng-class="{in: $ctrl.logTab === 4, active: $ctrl.logTab === 4}">
					<div>
						<p>{{$ctrl.crashDetails.DUMPSYS_MEMINFO}}</p>
					</div>
				</div>
			</div>

			<br>

			<ul class="nav nav-tabs">
				<li data-ng-class="{active: $ctrl.envTab === 1}"><a data-ng-click="$ctrl.changeEnvTab(1)" href="">Configuration</a></li>
				<li data-ng-class="{active: $ctrl.envTab === 2}"><a data-ng-click="$ctrl.changeEnvTab(2)" href="">Build</a></li>
				<li data-ng-class="{active: $ctrl.envTab === 3}"><a data-ng-click="$ctrl.changeEnvTab(3)" href="">Display</a></li>
				<li data-ng-class="{active: $ctrl.envTab === 4}"><a data-ng-click="$ctrl.changeEnvTab(4)" href="">Environment</a></li>
				<li data-ng-class="{active: $ctrl.envTab === 5}"><a data-ng-click="$ctrl.changeEnvTab(5)" href="">Shared Prefs</a></li>
				<!--<li data-ng-class="{active: $ctrl.envTab === 6}"><a data-ng-click="$ctrl.changeEnvTab(6)" href="">Custom data</a></li>-->
				<li data-ng-class="{active: $ctrl.envTab === 7}"><a data-ng-click="$ctrl.changeEnvTab(7)" href="">Other</a></li>
			</ul>

			<div class="tab-content" style="padding: 15px; background-color: #fff;">
				<div id="confi" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 1, active: $ctrl.envTab === 1}">
					<table class="table table-striped" style="background-color:#fff;">
						<thead>
							<th></th>
							<th style="border-left: 1px solid #afafaf;">CRASH</th>
							<th style="border-left: 1px solid #afafaf;">INITIAL</th>
						</thead>
						<tr ng-repeat="(x, y) in $ctrl.cra">
							<td class="text-right" style="width: 33%;"><b>{{x}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf; word-wrap:break-word; word-break: break-all;">{{y}}</td>
							<td class="text-left" style="border-left: 1px solid #afafaf; word-wrap:break-word; word-break: break-all;">{{$ctrl.ini[x]}}</td>  
						</tr>
					</table>
				</div>

				<div id="build" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 2, active: $ctrl.envTab === 2}">
					<table class="table table-striped" style="background-color:#fff;">
						<tr ng-repeat="(x, y) in $ctrl.bui" ng-if="x !== 'VERSION'">
							<td class="text-right" style="width: 33%;"><b>{{x}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;">{{y}}</td>  
						</tr>
						<tr ng-repeat="(x, y) in $ctrl.ver">
							<td class="text-right" style="width: 33%;"><b>{{x}}</td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;">{{y}}</td>  
						</tr>
					</table>
				</div>
					
				<div id="display" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 3, active: $ctrl.envTab === 3}">
					<table class="table table-striped" style="background-color:#fff;" ng-repeat="(x,y) in $ctrl.dis">
						<thead>
							<th colspan="2">
								Display {{x}}
							</th>
						</thead>
						<tr ng-repeat-start="(a,b) in y" ng-if="a === 'currentSizeRange' || a === 'metrics' || a === 'realMetrics'">
							
						</tr>
						<tr ng-repeat-end ng-repeat="(c,d) in b track by $index" ng-if="a === 'currentSizeRange' || a === 'metrics' || a === 'realMetrics'">
							<td class="text-right"><b>{{a}}.{{c}}</b></td>
							<td style="border-left: 1px solid #afafaf;">{{d}}</td>
						</tr>
						<tr ng-repeat="(a,b) in y" ng-if="!(a === 'currentSizeRange' || a === 'metrics' || a === 'realMetrics')">
							<td class="text-right"><b>{{a}}</b></td>
							<td style="border-left: 1px solid #afafaf;">{{b}}</td>
						</tr>
					</table>
				</div>

				<div id="envior" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 4, active: $ctrl.envTab === 4}">
					<table class="table table-striped" style="background-color:#fff;">
						<tr ng-repeat="(x, y) in $ctrl.envi">
							<td class="text-right" style="width: 33%;"><b>{{x}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;">{{y}}</td>  
						</tr>
					</table>
				</div>

				<div id="share" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 5, active: $ctrl.envTab === 5}">
					<table class="table table-striped" style="background-color:#fff;">
						<tr ng-repeat="(x, y) in $ctrl.share">
							<td class="text-right" style="width: 33%;"><b>{{x}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;">{{y}}</td>  
						</tr>
					</table>
				</div>


				<!--<div id="custom" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 6, active: $ctrl.envTab === 6}">
					<table class="table table-striped" style="background-color:#fff;">
						<tr ng-repeat="(name, value) in $ctrl.cust">
							<td class="text-right" style="width: 33%;"><b>{{name}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;">{{value}}</td>  
						</tr>
					</table>
				</div>-->

				<div id="other" class="tab-pane fade" data-ng-class="{in: $ctrl.envTab === 7, active: $ctrl.envTab === 7}">
					<table class="table table-striped" style="background-color:#fff;">
						<tr ng-repeat="(x, y) in $ctrl.oth">
							<td class="text-right" style="width: 33%;"><b>{{x}}</b></td> 
							<td class="text-left" style="border-left: 1px solid #afafaf;" ng-if="x!=='DEVICE_FEATURES'">{{y}}</td>
							<td class="text-left" style="border-left: 1px solid #afafaf;" ng-if="x==='DEVICE_FEATURES'"><div ng-repeat="(x, y) in $ctrl.oth.DEVICE_FEATURES" ng-if="y">{{x}}</div></td>   
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>