<div id="Main" class="container">
	<div>
		<div>
			<div class="pull-right">
				<button class="btn btn-default" type="button" data-toggle="modal" data-target="#deviceId"><span class="glyphicon glyphicon-phone"></span><br>Device lookup</button>
				<!--<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span><br>Setting</button>-->
			</div>
			<p style="display: inline-block; margin: 0; line-height: 54px;">{{$ctrl.appDetails.name}}</p>
			<div style="display: inline-block;">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{$ctrl.build}} <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a data-ng-click="$ctrl.changeBuild('debug')" href="">debug</a></li>
						<li><a data-ng-click="$ctrl.changeBuild('release')" href="">release</a></li>
					</ul>
				</div>
			</div>
			<div style="display: inline-block;">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{$ctrl.device}} <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li data-ng-repeat="device in $ctrl.appDetails.macs track by $index">
							<a data-ng-click="$ctrl.changeDevice($index)" href="">{{device}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
			<div class="modal fade" id="deviceId" role="dialog">
				<div class="modal-dialog">
				
				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Device Lookup</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group" ng-class="{'has-error': !$ctrl.deviceExsits}">
									<label class="control-label col-sm-3" for="deviceId">MAC Address</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="deviceId" data-ng-model="$ctrl.macField">
										<span class="help-block" data-ng-hide="$ctrl.deviceExsits">No such device</span>
									</div>
								</div>
							</form>

							<div class="alert alert-info">
								This field expect value of <strong>MAC_ADDRESS</strong> that you can find on "Secure Settings" tab in individual crash. To see the tab with ACRA 4.7+ you need to explicitly add SECURE_SETTINGS to custom report config because it was removed from default report fields.
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" data-ng-click="$ctrl.deviceExsits = true" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" data-ng-click="$ctrl.deviceLookup()" class="btn btn-success">Lookup</button>
						</div>
					</div>
				</div>
			</div>

		<div id="Detail">
			<!--<div class="row">
				<div class="col-lg-12">
					<div style="padding-left: 12px;">App: <a href="#">{{$ctrl.appDetails.PACKAGE_NAME}}</a></div>
				</div>
			</div>-->
			<div class="row">
				<div class="col-lg-7 col-md-12">
					<!--Table Here-->
					<!--<form class="form-inline">
						<div id="selector" class="form-group">
							<label>Start: </label><input class="form-control" type="date"> 
						</div>
						<div id="selector" class="form-group">
							<label>To End: </label><input class="form-control" type="date">
						</div>
					</form>-->
					<div id="Daily" style="margin: 12px"></div>
					<!--<script src="js/charts.js"></script>-->
				</div>
				<div class="col-lg-5 col-md-12" id="smallCharts">
					<!--Table Here-->
					<div id="OS" style="margin: 12px"></div>
					<!--Table Here-->
					<div id="App" style="margin: 12px"></div>
				</div>
			</div>
			<div class="row" style="margin-left: 15px; margin-right: 15px;">
				<div class="col-lg-3 col-xs-12" style="margin-bottom:-12px;">
					<ul class="pager" style="margin-top: 0px;">
						<li><a data-ng-click="$ctrl.previousPage()" class="btn" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						<li><a>{{$ctrl.currentPage}} / {{$ctrl.totalPage}}</a>
						<li><a data-ng-click="$ctrl.nextPage()" class="btn" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
					</ul>
				</div>
				<div class="col-lg-3 col-xs-6" style="margin-bottom:5px;">
					<form data-ng-submit="$ctrl.filterResult()">
						<div class="input-group stylish-input-group">
							<input type="text" data-ng-model="$ctrl.osVersionFilter" class="form-control"  placeholder="OS version" >
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</form>
				</div>
				<div class="col-lg-3 col-xs-6" style="margin-bottom:5px;">
					<form data-ng-submit="$ctrl.filterResult()">
						<div class="input-group stylish-input-group">
							<input type="text" data-ng-model="$ctrl.appVersionFilter" class="form-control" placeholder="App version" >
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</form>
				</div>
				<div class="col-lg-3 col-xs-12" style="margin-bottom:5px;">
					<!--<button data-ng-click="$ctrl.reset()" class="btn btn-block btn-default">Reset</button>-->
					<!--<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: center; width: 100%;">{{$ctrl.appDetails.status}}</button>
						<ul class="dropdown-menu">
							<li><a href="#">Open</a></li>
							<li><a href="#">Close</a></li>
						</ul>
					</div>-->
					<div class="input-group">
						<span class="input-group-addon">Order by</span>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;">
								{{$ctrl.orderBy}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a data-ng-click="$ctrl.changeOrder('Latest Issue')" href="">Latest Issue</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('Oldest Issue')" href="">Oldest Issue</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('Recent Crashed')" href="">Recent Crashed</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('Crash instances')" href="">Crash instances</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('App version')" href="">App version</a></li>
								<!--<li><a data-ng-click="$ctrl.changeOrder('OS version')" href="">OS version</a></li>-->
							</ul>
						</div>
					</div>	
				</div>
			</div>
			<div class="row" style="margin-left: 15px; margin-right: 15px;padding-bottom: 15px;">
				<div class="col-lg-8" style="margin-bottom:5px;">
					<form data-ng-submit="$ctrl.filterResult()">
						<div class="input-group">
							<div class="input-group-btn search-panel">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span id="search_concept">{{$ctrl.keywordOption}}</span> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a data-ng-click="$ctrl.changeKeyworkOption('Stack Trance')" href="">Stack Trace</a></li>
									<li><a data-ng-click="$ctrl.changeKeyworkOption('Logcat')" href="">Logcat</a></li>
									<!--<li><a data-ng-click="$ctrl.changeKeyworkOption('Custom Data')" href="">Custom data</a></li>-->
								</ul>
							</div>
							<!--<input type="hidden" name="search_param" value="all" id="search_param">-->
							<input type="text" data-ng-model="$ctrl.keywordFilter" class="form-control" name="x" placeholder="Search term...">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</form>
				</div>
				<div class="col-lg-4" style="margin-bottom:5px;">
					<button data-ng-click="$ctrl.reset()" class="btn btn-block btn-default">Reset</button>
					<!--<div class="input-group">
						<span class="input-group-addon">Order by</span>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;">
								{{$ctrl.orderBy}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a data-ng-click="$ctrl.changeOrder('Last Seen')" href="">Last Seen</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('First Seen')" href="">First Seen</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('Instances')" href="">Instances</a></li>
								<li><a data-ng-click="$ctrl.changeOrder('User Affected')" href="">User Affected</a></li>
							</ul>
						</div>
					</div>-->
					
				</div>
			</div>
		</div>
		<div id="crashList">
			<div class="row">
				<div class="col-xl-12">
					<table width="100%" class="table" style="margin: 12px; text-align: center; background-color: #FFFFFF; width:97.7%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; ">
						<tr data-ng-repeat="issue in $ctrl.issueList" ui-sref="issue({issueId: issue._id})"  style="cursor: pointer;">
							<td class="col-md-1">
								<span class="glyphicon glyphicon-fire" style="color: #F00;font-size: 20px;"></span><br>
								{{issue.instance}}
							</td>
							<td class="col-md-9 text-left">
								{{issue.exception}}<br>
								<div style="font-size:12px; color:#888">
									<span class="glyphicon glyphicon-file"></span> {{issue.source}}
									<!--<span class="glyphicon glyphicon-phone"></span> {{issue.osVersion}}-->
									<span class="glyphicon glyphicon-floppy-disk"></span> {{issue.appVersion}}
								</div>
							</td>
							<td class="col-md-2">
								<div class="title" style="font-size: 10px">FIRST SEEN</div>
								{{issue.firstSeen | date : "yyyy/MM/dd HH:mm:ss" }}<br>
							</td>
							<td>
								<div class="title" style="font-size: 10px">LAST SEEN</div>
								{{issue.lastSeen | date : "yyyy/MM/dd HH:mm:ss" }}<br>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
