<div class="container">
	<div>
		<!--<div id="Main">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					{{$ctrl.issue.name}} <br>
					<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{$ctrl.issue.type}}
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="">Develop</a></li>
						<li><a href="">Release</a></li>
					</ul></div>
				</div>
				<div class="col-lg-4 col-sm-0"></div>
				<div class="col-lg-4 col-sm-6 text-right">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-phone"></span><br>Device lookup</button>
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span><br>Setting</button>
				</div>
			</div>
		</div>-->
		<ol class="breadcrumb">
			<li><a data-ng-click="$ctrl.goBackApp()" href="">App details</a></li>
			<li class="active">{{$ctrl.issueDetails.source}} - {{$ctrl.issueDetails.exception}}</li>
		</ol>
		<div id="Detail" style="padding: 12px;">
			<!--<div class="row" style="margin: 15px; border-bottom: 1px solid rgba(8, 8, 8, 0.45); padding: 5px 0">
				<span>Group: <a href="#">{{$ctrl.issue.group}}</a></span>
				<span>App: <a data-ng-click="$ctrl.goBack()" href="">{{$ctrl.issue.PACKAGE_NAME}} - {{$ctrl.issue.BUILD_TYPE}}</a></span>
				<span>Issue: <a href="#">{{$ctrl.issue.issue}}</a></span>
			</div>-->
			<div class="row" style="background-color: #FFF; margin-left: 15px; margin-right: 15px; margin-bottom: 15px;" >
				<div class="col-xs-2 col-lg-2 text-center" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="color: #AAE; font-size: 10px">APP VERSION</div>
					<h5><b>{{$ctrl.issueDetails.appVersion}}</b></h5>
				</div>
				<div class="col-xs-8 col-lg-8 text-left" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="font-size: 10px; color: #11248E">{{$ctrl.issueDetails.source}}<br></div>
					{{$ctrl.issueDetails.exception}}
				</div>
				<!--<div class="col-xs-2 col-lg-2 text-center" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="color: #AAE; font-size: 10px; margin:3px;">STATUS</div>
					<kbd>{{$ctrl.issue.status}}</kbd>
				</div>-->
			</div>
			<div class="row" style="margin-right: 0px">
				<div class="col-md-4 col-xs-12">
					<div class="list-group">
						<div class="list-group-item">
							{{$ctrl.issueDetails.instance}} Crash(es)
						</div>
						<!--<div class="list-group-item">
							{{$ctrl.issue.affectedUser}} Users Affected
						</div>-->
						<div class="list-group-item">
							First Seen: {{$ctrl.issueDetails.firstSeen | date : "yyyy/MM/dd HH:mm:ss" }}
						</div>
						<div class="list-group-item">
							Last Seen: {{$ctrl.issueDetails.lastSeen | date : "yyyy/MM/dd HH:mm:ss" }}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<!--<script src="js/logchart.js"></script>-->
					<div id="crashDaily" style="margin: 1px"></div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div id="crashOS" style="margin: 1px"></div>
				</div>
			</div>

			<ul class="nav nav-tabs">
				<li ng-class="{active: $ctrl.tab === 1}"><a ng-click="$ctrl.changeTab(1)" href="">Lastest Crash</a></li>
				<li ng-class="{active: $ctrl.tab === 2}"><a ng-click="$ctrl.changeTab(2)" href="">Crashes</a></li>
				<!--<li ng-class="{active: $ctrl.tab === 3}"><a ng-click="$ctrl.changeTab(3)" href="">Locales</a></li>-->
			</ul>

			<div class="tab-content" style="margin-top:15px; margin-bottom:15px;">
				<div id="last" class="tab-pane fade" ng-class="{in: $ctrl.tab === 1, active: $ctrl.tab === 1}">
					<div class="row" style="margin-left: 15px; margin-right: 15px;">
						<div id="errorLine" style="margin-left: 5px;">
							<ol>
								<li data-ng-repeat="line in $ctrl.issueDetails.latestCrashStackTrace.split('\n') track by $index">
									<samp>{{line}}</samp>
								</li>
							</ol>
						</div>
					</div>
				</div>

				<div id="crash" class="tab-pane fade" ng-class="{in: $ctrl.tab === 2, active: $ctrl.tab === 2}">
					<div class="row" style="margin-left: 15px; margin-right: 15px;">
						<div class="col-lg-3 col-xs-12">
							<ul class="pager" style="margin-top: 0px;">
								<li><a ng-click="$ctrl.previousPage()" href="" aria-label="Previous"><span>&laquo;</span></a></li>
								<li><a>{{$ctrl.currentPage}} / {{$ctrl.totalPage}}</a></li>
								<li><a ng-click="$ctrl.nextPage()" href="" aria-label="Next"><span>&raquo;</span></a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-xs-12">
							<form data-ng-submit="$ctrl.filterResult()">
								<div id="imaginary_container" style="margin:2px">
									<div class="input-group stylish-input-group">
										<input data-ng-model="$ctrl.osVersionFilter" type="text" class="form-control"  placeholder="OS version" >
										<span class="input-group-addon">
											<button type="submit">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-3 col-xs-12">
							<form data-ng-submit="$ctrl.filterResult()">
								<div id="imaginary_container" style="margin:2px">
									<div class="input-group stylish-input-group">
										<input data-ng-model="$ctrl.macFilter" type="text" class="form-control"  placeholder="MAC address" >
										<span class="input-group-addon">
											<button type="submit">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-3 col-xs-12" style="margin-bottom:5px;">
							<div class="input-group">
								<span class="input-group-addon">Order by</span>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;">
										{{$ctrl.orderBy}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a data-ng-click="$ctrl.changeOrder('Latest Issue')" href="">Latest Issue</a></li>
										<li><a data-ng-click="$ctrl.changeOrder('Oldest Issue')" href="">Oldest Issue</a></li>
										<li><a data-ng-click="$ctrl.changeOrder('OS version')" href="">OS version</a></li>
									</ul>
								</div>
							</div>	
						</div>
						<div class="col-lg-12 col-xs-12">
							<form data-ng-submit="$ctrl.filterResult()">
								<div class="input-group" style="margin:2px">
									<div class="input-group-btn search-panel">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											<span id="search_concept">{{$ctrl.keywordOption}}</span> <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a data-ng-click="$ctrl.changeKeyworkOption('Stack Trace')" href="">Stack Trace</a></li>
											<li><a data-ng-click="$ctrl.changeKeyworkOption('Logcat')" href="">Logcat</a></li>
											<!--<li><a href="">Custom data</a></li>-->
										</ul>
									</div>
									<!--<input type="hidden" name="search_param" value="all" id="search_param">-->
									<input data-ng-model="$ctrl.keywordFilter" type="text" class="form-control" name="x" placeholder="Search term...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="row" style="margin: 15px;">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" data-ng-repeat="crash in $ctrl.crashList">
							<button ui-sref="crash({crashId: crash._id})" class="btn btn-default" style="margin-top: 2px;margin-bottom: 2px; text-align: left; width:100%; height: 100%; overflow:hidden; text-overflow:ellipsis;">
								<div style="color: #888;">{{crash.crashDate | date : "yyyy/MM/dd HH:mm:ss"}}</div>
								<strong>{{crash.mac | uppercase}}</strong>
								<div style="color: #888;">{{crash.osVersion | date : "yyyy/MM/dd HH:mm:ss"}}</div>
							</button>
						</div>
					</div>
				</div>

				<div id="locales" class="tab-pane fade" ng-class="{in: $ctrl.tab === 3, active: $ctrl.tab === 3}">
					<div>
						<table class="table" style="background-color: #fff; margin: 15px; width: 96%;">
							<tr>
								<td style="white-space: nowrap; width: 22%">{{$ctrl.issueDetails.language}}&nbsp&nbsp&nbsp&nbsp{{$ctrl.issueDetails.errorTimes}}</td>
								<td>
									<canvas id="numberchar" style="width: 100%; height:20px;"></canvas>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>