<div id="setting" class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h3>{{$ctrl.me.username}}</h3>
        </div>
    </div>
    <div id="Detail">
        <div id="title">
            <h3 style="border-bottom: 1px solid #afafaf">Setting</h3>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" placeholder="New Name" name="name" value="User.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="user">Username:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="user" placeholder="New Username" name="user" value="{{User.name}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="newPwd">New Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="newPwd" placeholder="New Password" name="newPwd">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="comPwd">Comfirm Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="comPwd" placeholder="Comfirm Password" name="comPwd">
                </div>
            </div>
            <div id="save">
                <button class="btn btn-info col-sm-offset-2">Save</button>
            </div>
        </form>
    </div>
</div>