.list-group{
	padding-left: 15px
}
.list-group-item {
	position: relative;
	display: block;
	padding: 5px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
#errorLine ol li{
	border-left: 3px solid #0f0;
	padding: 2px 2px 2px 12px;
	font-size: 0.9em;
}

#errorLine ol li:nth-child(odd) {
	background-color: #fff;
}
#errorLine ol samp{
	white-space: pre-wrap;
    word-break: break-all;
}
#logcat tbody tr:first-child td{
	border: 0;
}
#logcat table tr[data-filter="E"]{
	color: #D22;
}
#logcat table tr[data-filter="I"]{
	color: green;
}
#logcat table tr[data-filter="V"]{
	color: black;
}
#logcat table tr[data-filter="W"]{
	color: orange;
}
#logcat table tr[data-filter="D"]{
	color: #22D;
}
#logcat table tr[data-filter="F"]{
	color: grey;
}
#logcat table tr[data-filter="S"]{
	color: yellowgreen;
}
#logcat td{
	vertical-align: middle;
}
#logcat tr > td:nth-child(-n+4){
	white-space: nowrap;
}
#logcat tr > td:nth-child(5){
	white-space: pre-wrap;
	word-break: break-all;
}

#errorLineRaw ol li{
	border-left: 3px solid #0f0;
	padding: 2px 2px 2px 12px;
	font-size: 0.9em;
}

#errorLineRaw ol li:nth-child(even) {
	background-color: #eee;
}
#errorLineRaw ol samp{
	white-space: pre-wrap;
    word-break: break-all;
}

#build td li:nth-child(odd) {
	background-color: #fff;
}

@media (min-width: 1200px) {
	#Detail .col-lg-5{
    width: 41.66666667%;
    padding-left: 0px;
	}
}

@media (min-width: 1200px) {
	#Detail .col-lg-7{
    width: 58.33333333%;
    padding-right: 0px;
	}
}
#crashList tbody tr:first-child td{
	border: 0;
}
#envior tbody tr:first-child td{
	border: 0;
}
#share tbody tr:first-child td{
	border: 0;
}
#custom tbody tr:first-child td{
	border: 0;
}
#other tbody tr:first-child td{
	border: 0;
}
#build tbody tr:first-child td{
	border: 0;
}
#selector{
	margin-left: 15px;
    padding-top: 7px;
}

#title {
    margin: 10px 15px;
    padding: 2px 0px;
}


@media (min-width: 768px){
	#setting .col-sm-6 {
    	width: 50%;
    	margin-bottom: 15px;
	}
}

#setting .form-horizontal{
	margin-left:12px;
	margin-right:12px
}

#setting .form-group {
	margin-bottom: 0px
}

#setting .form-group input{
	width: 100%
}

#setting button {
	margin-bottom:15px;
}

@media (max-width: 768px){
	#setting #save {
		margin-top: 10px
	}
}