.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
#Detail {
	background-color: #eee
}
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #002B79;
  color: #FFF;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color:#FFF;
}
#Detail{
	margin-top: 12px
}
footer {
	position:fixed;
	z-index: 5;
	bottom:0;
	left:0;
	right:0;
	padding: 5px 0;
}
.container{
	padding-top: 70px;
	padding-bottom: 65px;
}
.navbar-nav li:hover{
	background-color: #0E3958;
}
.pager > li:nth-child(2) > a:hover{
	background-color: #fff;
}